body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

img {
    position: center;
}

.container {
    background-color: #f5f5f5;
    border-radius: 89px;
    margin-top: 50px;
}

.Avatar {
    border-radius: 500px;
    border: 25px solid white;
    background-color: #457
}

footer {
    background-color: #f5f5f5;

}